<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costumer over Product - {{ current_category }}</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>

<body>
    <div class="header">
        <a href="{{ url_for('home') }}" class="logo">🏠 CoP</a>
        <div class="category-selector">
            <button class="category-button">
                {{ current_category.replace('_', ' ') }} ▼
            </button>
            <div class="category-dropdown">
                {% for category in categories %}
                <a href="{{ url_for('change_category', category=category) if category else '#' }}"
                    class="category-link {% if category == current_category %}current-category{% endif %}">
                    {{ category.replace('_', ' ') }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>

</html>